<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/home">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/home/card">cards</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home/newsletter">newsletter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home/allYtVideos">all videos</a>
                    </li>

                    <% if(userInfo !==undefined){ %>
                        <li class="nav-item">
                            <a class="nav-link" href="/home/uploadVideo">upload video</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/product">product upload</a>
                        </li>
                        <li class="nav-item">
                            <form action="/home/log-out" method="POST">
                                <button class="btn btn-success" type="submit">log out</button>
                            </form>
                            <p>
                                <%= userInfo.name %>
                            </p>
                        </li>
                        <%} else{%>
                            <a href="/home/signin">
                                <p>sign in</p>
                            </a>
                            <a href="/home/login">
                                <p>sign Up</p>
                            </a>
                            <%}%>
                </ul>
            </div>
        </div>
    </nav>
</header>