<%- include('../includes/header.ejs')%>
      <%- include('../includes/navbar.ejs')%>
            <h1>your secret page is here</h1>
            <form action="/auth/log-out" method="POST">
                  <button type="submit" class="btn btn-primary">log-out</button>
            </form>
            <%- include('../includes/footer.ejs')%>