<%- include('../includes/header.ejs');-%>
      <%- include('../includes/navbar.ejs');-%>
            <a href="/auth/google">google sign in</a>
            <a href="/auth/sign-in-user">signIn</a>
            <a href="">logIn</a>
            <a href="">Forget Password</a>
            <%- include('../includes/footer.ejs');-%>