<form action="/auth/signIn" method="POST">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">name</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name" />
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">email</label>
        <input type="email" class="form-control" id="exampleInputPassword1" name="email" />
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="password" />
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">confirm password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="confirmPassword" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <div>
        <a href="/auth/sceret">sceret</a>
        <a href="/auth/google-login">google login</a>
        <a href="/auth/logout">logout</a>
    </div>

    <div class="g-signin2" data-onsuccess="onSignIn"></div>

    <script>
        function signOut() { var auth2 = gapi.auth2.getAuthInstance(); auth2.signOut().then(function () {
        console.log('User signed out.'); }); }
    </script>
</form>