<%- include('../partials/head.ejs', {userInfo}) %>
    <%- include('../partials/navbar.ejs') %>

        <div class="container">
            <form action="/admin/forget-password" method="POST">
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">email address</label>
                    <input type="email" class="form-control" id="exampleInputPassword1" name="email">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <%- include('../partials/footer.ejs') %>