<%- include('../partials/head.ejs', {userInfo})%>
    <%- include('../partials/navbar.ejs')%>

        <h1>rest password</h1>
        <p>check your email</p>

        <%- include('../partials/footer.ejs')%>