<%- include('../partials/head.ejs', {userInfo}) %>
    <%- include('../partials/navbar.ejs') %>

        <div class="container">
            <form action="/admin/reset-password" method="POST">
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">new password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">confirm new password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="confirmPassword">
                </div>
                <input type="text" value="<%= id%>" name="userToken" style="display: none;">

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <%- include('../partials/footer.ejs') %>