<div class="container">
    <div class="text-center">
        <h1>forget password!!</h1>
        <p>welcome <%= name%>
        </p>
        <p>reset password</p>
        <a href="http://localhost:3000/home/rest-password/<%= id%>">
            click here
        </a>
    </div>
</div>